@mixin text($fontweight, $fontsize, $lineheight, $lspacing, $color) {
  font-weight: $fontweight;
  font-size: $fontsize;
  line-height: $lineheight;
  letter-spacing: $lspacing;
  color: $color;
}

@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-centered {
  display: flex;
  align-items: center;
}

@mixin flex-justify-centered {
  display: flex;
  justify-content: center;
}

@mixin bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin transition($type) {
  transition: $type 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin transition-mix($type-first, $type-second) {
  transition: $type-first 250ms cubic-bezier(0.4, 0, 0.2, 1),
    $type-second 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin transition-max-mix($type-first, $type-second, $type-third) {
  transition: $type-first 250ms cubic-bezier(0.4, 0, 0.2, 1),
    $type-second 250ms cubic-bezier(0.4, 0, 0.2, 1), $type-third 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin border($color) {
  border: 1px solid $color;
}
