:root {
  --text-color: #212121;
  --text-color-add: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --background-color-add: #2f303a;
  --project-card-gap: 30px;
  --social-link-color: #afb1b8;
}
